/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
   background-image: url(../assets/img/pexels-annushka-ahuja-7991936.jpg); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: whitesmoke;
}
ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}
/* p {
  font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
} */
h1,h4 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}
nav{
  height: 10vh;
  background-color: #00028627;
  padding: 20px 20px;
}
.formulario {
  max-width: 400px;
  margin: 0 auto;
}

.btn {
  margin-top: 20px;
}

.caja-resultado {
  margin-bottom: 30px;
  margin-top: 10px;
  background-color: #2525233a;
  border-radius: 10px;
  padding: 15px;

}
.displayNone{
  display: none;
  transition: ease-in-out;
}

.ingresoDatos{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
background-color: rgb(83, 94, 238);
border-radius: 15px;
}
.card-body{
  background-color: black;
}
.mainGrid{
   display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-evenly;
    align-content: center; }

#crearUsuario{
  margin: 0 auto;
}
#divLoginUsuario{
  display: flex;
  flex-direction: row;
  align-items: center;
gap: 20px;
}
